* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #111;
  color: #fff;
  background-image: url("../img/AnOnePieceWallpaperHDJpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8b0e23;
  padding: 15px 40px;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 6px 12px;
  transition: 0.3s;
}

.nav li.active a,
.nav a:hover {
  background: #e8b923;
  border-radius: 5px;
  color: #000;
}


.hero {
  background: rgba(0,0,0,0.6);
  padding: 60px;
  text-align: left;
  display: flex;
  margin: 60px 0px 60px 0px;
  flex-wrap: wrap;
}

.hero-img img{
    border-radius: 40px;
    width: 100%;

}

.hero-img{
    flex: 1 1 auto;
    width: 250px;
}

.hero-text {
    text-align: center;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info span {
    background-color: #8b0e23;
    padding: 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.maincharacters{
    /* background: rgba(0,0,0,0.6); */
}

.maincharacters_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincharacters_title {
    flex-grow: 1;
    font-size: 60px;
    padding: 40px;
    background: #8B0E23;
background: linear-gradient(90deg, rgba(139, 14, 35, 1) 48%, rgba(139, 14, 35, 0) 90%);
}

.maincharacters_img{
    max-width: 37%;
    flex-grow: 1;
    border-radius: 40px;
    margin: 40px;
}

.mariens {
    text-align: end;
}

.mariens .maincharacters_title {
    background: #8B0E23;
    background: linear-gradient(270deg,rgba(139, 14, 35, 1) 48%, rgba(139, 14, 35, 0) 90%);
}

a {
    text-decoration: none;
    color: white;
}

.all_characters{
    background: rgba(0,0,0,0.6);

}

.charecters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.character-card {
  width: 280px;
  background: #1e1e1e;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  color: #fff;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.character-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}

.character-image img {
 display: block;
 margin: auto;
 height: 250px;
  object-fit: cover;
}

.character-info {
  padding: 15px;
}

.character-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #e8b923;
}

.character-info p {
  margin: 5px 0;
  font-size: 14px;
}

.character-info strong {
  color: #ffcc00;
}

.pagination li{
    background-color: #8B0E23;
}

.MuiPagination-ul{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.MuiPagination-ul li{

}

.MuiPagination-ul li > div, .MuiPagination-ul li > button {
  height: 32px;
  background-color: #8B0E23;
height: 100%;
margin: 10px;
color: white;
  height: 32px;
}
.MuiPagination-ul li:hover > div, .MuiPagination-ul li:hover > button {
  background-color: #680b1a;
}

input{
  background-color: #1e1e1e;
  color: white;
  margin: 10px;
  padding: 5px;
}

.input_block {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input_title {
  color: #ffcc00;
}

.loading {
  display: block;
  padding: auto;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.loading span{
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 40px;
}